@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100 font-sans;
  padding-top: 4rem; /* Height of the navbar (h-16 = 4rem) */
}
